.button-sec {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: #499ad3;
  transition: 0.2s;
 
  
}

.button-sec:hover {
  color: var(--color-bg);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button-sec:active {
  transform: translate(0);
  box-shadow: none;
}

.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.about-img{
  display: flex;
  width: 100%;
  height:auto;
  border-radius: 2rem;
  background: linear-gradient(45deg ,transparent ,var(--color-primary));
}

.about-img img{
  width: 100%;
  height: 100%;
}

/* .about-img img :hover
{
  background-color: brown;
  transform: rotate(45deg);
} */

.top-section h2{
  margin-bottom: 2rem;
  
  
}

.about-cards{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;

}

.about-card{
  background: #1b1b7b;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
 /* transition: var(--transition); */
}

.about-card:hover{
  transition:  .5s ease;
  background: #24246a93;
  
  
}

#about{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-icon{
  color: #499ad3;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-cards a {
    margin-top: 1rem;
}

#bb{
  margin-top:1.5rem ;
}

@media (max-width:1024px){
 .about-container{
  grid-template-columns: 1fr ;
  gap:0;
  
} 
.about-img{
    width: 50%;
    margin: 2rem auto 4rem ;
   

  }
  .top-sec{
    display:flex ;
    justify-content: center;
  }

}

@media (max-width:700px){

  .about{
    /* width: 90%; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  /* .top-section h2{
    display: flex;
  justify-content: center;
   color: #ff90e8; */
 
  
  .about-img{
    width: 70%;
    margin: 0rem auto 3rem;
  }

  .about-cards{
    grid-template-columns: 1fr 1fr ;
    gap:1.5rem;
    /* width */
    margin: 10px;
    
  }
  p{
    font-weight: 500;
  }

  /* .about-card{
    width: 150px;
    gap:20px
  } */
}