.text{
    
   color: rgb(217, 214, 208);
}

.home{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.home-container{
    margin-top: 40px;
    text-align: center;
    height: 100%;
    position: relative;
}



   /* buttons */


.button-sec{
    background:#499ad3 ;
}

.btn-wrap{
    display: flex;
    gap: 1.1rem;
    margin-top: 2rem;
    justify-content: center;
}

.home-container h4{
    font-size: 1.1rem;
}

.img{
    width: 330px;
    height: 370px;
    background: linear-gradient(#4db5ff , transparent);
    /* border-radius: 12rem 12rem 0 0; */
    border-radius: 20px;
    margin: 30px auto;
   
}

.Home-icons{
    display: flex;
    flex-direction: column;
   position: absolute;
   left: 0;
   bottom: 45px;
    font-size: 1.8rem;
    gap: 0.4rem;
    
}

.Home-icons::after{
    content: '';
    width: 1px;
}

@media (max-width:1024px){
    .home{
        height: 95vh;
        width: 90%;
        
    }
}

@media (max-width:600px){
    .Home-icons{
        display: none;
    }

    .home{
        display: flex;
        justify-content: center;
       margin-left: 17px;
    }
}
