@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77,181,255,0.4);
    --color-light:#fff;
    --transition: all .4 ease;
    
}


body{
font-family: poppins ,sans-serif;
background-color: var(--color-bg);
color: var(--color-light);
line-height: 1.7;
background-image: url(./assets/bg-texture.png);}

.container{
    width: 80%;
    margin: 0 auto;
}

h1 h2 h3 h4 h5{
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    
    padding-top: 8rem;
}

.text-light{
    color: var(--color-light);
}

a{
    color: var(--color-primary);
    transition: var(--transition);
}

a :hover{
    color: whitesmoke;
}

.button {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  
}

.button:hover {
  color: var(--color-bg);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

img{
    display: block;
    width: 100%;
    object-fit: cover;

}



@media (max-width: 1024px){
    .container{
        width: 85%;
    }

    section{
        padding-top: 6rem;
    }

}


@media (max-width: 600px){
    .container{
        width: 90%;
    }

    section{
        padding-top: 5rem;
    }

}

.top-section h2{
    text-align: center;
    color: var(--color-primary);
    object-fit: cover;
}

.top-section h4{
    text-align: center;
    color: var(--color-light);
}